body {
    margin: 0;
    font-family: "Jost", sans-serif;
    font-family: "Open Sans", sans-serif;
}


/* header */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 90px;
    background: #ffffff;
    box-shadow: 11px 11px 25px rgba(9, 7, 37, 0.06);
}

.wrapper-header {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 220px;
    height: 19px;
}

.nav {
    gap: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1b1a1a;
}

.btn {
    padding: 11px 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #ffffff;
    background: #1b1a1a;
    border-radius: 14px;
}


/* main */

.main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ece7e4;
}

.wrapper-main {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 566px;
    padding-left: 100px;
    padding-top: 137px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wishbone_partners {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645c55;
}

h2 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1b1a1a;
}

.content {
    padding-bottom: 41px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403e3b;
}

.btn_read-more {
    position: relative;
    right: 42%;
    cursor: pointer;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    background: none;
    color: #1b1a1a;
}

.archi {
    width: 720px;
    height: 720px;
    object-fit: cover;
}


/* our-firm */

.our-firm {
    width: 100%;
    max-width: 768px;
    margin: 100px 336px;
    gap: 133px;
    display: flex;
    justify-content: center;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403e3b;
}

.lorem-content {
    margin: 0;
    padding: 0;
    gap: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403e3b;
}

.profile {
    padding-top: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.profile-logo {
    width: 84px;
    height: 84px;
    border: 3px solid #cec4bc;
    border-radius: 64px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #1b1a1a;
}

.id {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645c55;
}


/* reeding-house */

.reeding-house {
    width: 100%;
    height: 100%;
    max-height: 600px;
    background-image: url("/Homework/wishbone_partners/assets/img/image_back1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.reeding-house_lorem {
    max-width: 300px;
    text-align: left;
    padding: 266px 75px 266px 1080px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403e3b;
}

.lorem {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645c55;
}


/* our-process */

.our-process {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-process_description {
    max-width: 1200px;
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-process_titlle {
    padding-bottom: 13px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645c55;
}

h5 {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1b1a1a;
}

.choise {
    display: flex;
    gap: 102px;
}

.pin-choise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pin {
    width: 117px;
    height: 102px;
}

.pin-titlle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403e3b;
}

.pin-description {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645c55;
}


/* marble-staircase */

.marble-staircase {
    width: 100%;
    height: 100%;
    max-height: 600px;
    background-image: url("/Homework/wishbone_partners/assets/img/image_back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}


/* prior-clients */

.prior-clients {
    width: 100%;
    background: #403e3b;
}

.prior-clients_content {
    max-width: 1168px;
    padding: 60px 136px;
    gap: 181px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prior-clients_text {
    display: flex;
    flex-direction: column;
}

.prior-clients_titlle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ece7e4;
}

h6 {
    padding: 0;
    padding-bottom: 14px;
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
}

.prior-clients_description {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ece7e4;
}

.prior-clients_pin {
    display: flex;
    flex-wrap: wrap;
    gap: 96px;
}

.prior-clients_photo1 {
    width: 128px;
    height: 30px;
    object-fit: cover;
}

.prior-clients_photo2 {
    width: 128px;
    height: 78px;
    object-fit: cover;
}

.prior-clients_photo3 {
    width: 128px;
    height: 20px;
    object-fit: cover;
}

.prior-clients_photo4 {
    width: 128px;
    height: 36px;
    object-fit: cover;
}


/* swirling-staircase */

.swirling-staircase {
    width: 100%;
    height: 100%;
    max-height: 600px;
    background-image: url("/Homework/wishbone_partners/assets/img/image_back3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.swirling_staircase {
    padding: 266px 1095px 266px 60px;
}


/* featured-projects */

.featured-projects {
    width: 100%;
}

.featured-projects_content {
    width: 100%;
    max-width: 1200px;
    padding-left: 138px;
    padding-top: 113px;
    display: flex;
    flex-direction: column;
}

h7 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

.featured-projects_discription {
    padding-top: 15px;
    padding-bottom: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
}

.featured-projects_photo {
    gap: 20px;
    display: flex;
}

.featured-projects_pin {
    width: 100%;
    position: relative;
    max-width: 375px;
    height: 456px;
}

.featured-projects_photo-text {
    width: 100%;
    max-width: 375px;
    position: relative;
}

.featured-projects_pin2 {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 375px;
}

.NY {
    top: 40px;
    left: 40px;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.road-brewery {
    top: 58px;
    left: 40px;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
}

.read-more {
    top: 370px;
    left: 40px;
    position: absolute;
    padding: 11px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    background: #1B1A1A;
    border-radius: 14px;
    color: #FFFFFF;
}

.view-all {
    margin-top: 53px;
    margin-bottom: 111px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    border: none;
    background: none;
    cursor: pointer;
    color: #1B1A1A;
}


/* get-touch */

.get-touch {
    width: 100%;
    background: #CEC4BC;
}

.get-touch_content {
    width: 100%;
    max-width: 1168px;
    max-height: 114px;
    padding: 100px 136px;
    gap: 474px;
    display: flex;
}

.get-touch_discription {
    max-width: 569px;
    display: flex;
    flex-direction: column;
}

.get-touch_titlle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

h8 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}

.get-intouch {
    max-width: 105px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    background: none;
    border: none;
    cursor: pointer;
    color: #1B1A1A;
}


/* footer */

.footer {
    width: 100%;
    background: #F7F7F7;
}

.footer_content {
    width: 100%;
    max-width: 1168px;
    padding: 60px 136px;
    gap: 691px;
    display: flex;
    justify-content: space-between;
    background: #F7F7F7;
}

.footer_discription {
    display: flex;
    flex-direction: column;
}

.logo-footer {
    width: 256px;
    height: 22px;
    padding-bottom: 20px;
}

.footer_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.social-link {
    color: black;
}